[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"

[packages]
geotopy = ">0.0.9"
pandas = "*"
seaborn = "*"
salib = "*"
nevergrad = {extras = ["benchmark"], version = "*"}
hiplot = "*"
mpi4py = "*"
jupyter = "*"
papermill = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
