[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
rise = "*"

[packages]
pandas = "*"
tables = "*"
seaborn = "*"
nevergrad = {extras = ["benchmark"], version = "*"}
salib = "*"
geotopy = ">=0.0.8"
jupyter = "*"
papermill = "*"
hiplot = "*"
psutil = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
